.maindiv {
    min-height: calc(100vh - 108px);
    padding-top: 20px;
}

.chart {
    width: 40%;
    border: 1px;
    margin: auto;
}

.smchart {
    width: 60%;
    border: 1px;
    margin: auto;
}

h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tbl {
    margin: auto;
}