.content {
    min-height: calc(100vh - 108px);
}

/* .bg_image {
    background-image: url(https://cdn.pixabay.com/photo/2017/09/25/17/10/chart-2785864_960_720.jpg);
    background-image: url(https://cdn.pixabay.com/photo/2017/09/25/17/16/chart-2785886_960_720.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 50% 100%;
    background-position: left top;
} */